body {
  background-color: #ffffff; /* Un gris très pâle bleuâtre, doux pour les yeux */
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

  
  nav {
    background-color: #004466;
    padding: 10px;
  }
  
  nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
  }
  
  h1, h2 {
    color: #000000;
  }

  .banniere h1 {
    color: #ffffff; /* Par exemple, une couleur jaune pour le nom dans la bannière */
  }

  .banniere {
    background-image: url("banniere.jfif"); /* Remplace par ton image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .banniere h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .banniere p {
    font-size: 1.2em;
    margin-top: 10px;
  }

  .a-propos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
  }
  
  .contenu-texte {
    flex: 1;
    min-width: 280px;
  }
  
  .contenu-image {
    flex: 1;
    min-width: 280px;
    text-align: center;
  }
  
  .contenu-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .contenu-texte p {
    text-align: justify;
  }
  
  
  